body {
    background-image: url(info.jpg);
    background-size: cover;
}

.header {
    text-align: center;
    font-family: "Arial Black", fantasy;
    font-size: 26px;
    color: snow;
}

.date_show {
    text-align: center;
    font-family: "Arial Black", fantasy;
    color: snow;
}

.cell,
.linktext {
    text-align: center;
    font-family: "Arial Black", fantasy;
    color: snow;
}