<!DOCTYPE html>
<html lang="en">

<html ng-app="players">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="players.js"></script>
    <link rel="stylesheet" href="players.css">

</head>

<body>
<div class="container" ng-controller="playersController">
    <h4 class="header">{{team.name}} players</h4>
    <hr>
    <p class="date_show">Today is {{today.day}} {{today.month}} {{today.year}}</p>
    <p></p>
    <a class="linktext" href="../team_menu/team_menu.html">Back to Team Menu</a><br>
    <button ng-click="loadPlayersSort(0)">Name</button>
    <button ng-click="loadPlayersSort(1)">Club</button>
    <button ng-click="loadPlayersSort(2)">Natio</button>
    <button ng-click="loadPlayersSort(3)">Number</button>
    <button ng-click="loadPlayersSort(4)">Pos</button>
    <button ng-click="loadPlayersSort(5)">Gk</button>
    <button ng-click="loadPlayersSort(6)">Def</button>
    <button ng-click="loadPlayersSort(7)">Mid</button>
    <button ng-click="loadPlayersSort(8)">Forw</button>
    <button ng-click="loadPlayersSort(9)">Cap</button>
    <button ng-click="loadPlayersSort(10)">Inj</button>
    <button ng-click="loadPlayersSort(11)">Trn</button>
    <button ng-click="loadPlayersSort(12)">Year</button>
    <button ng-click="loadPlayersSort(13)">StrPl</button>
    <button ng-click="loadPlayersSort(14)">Power</button>
    <button ng-click="loadPlayersSort(15)">Tire</button>
    <button ng-click="loadPlayersSort(16)">TBT</button>
    <button ng-click="loadPlayersSort(17)">Price</button>
    <table class="table table-hover">
            <tr>
                <td class="cell">Name</td>
                <td class="cell">Club</td>
                <td class="cell">Natio</td>
                <td class="cell">Number</td>
                <td class="cell">Pos</td>
                <td class="cell">Gk</td>
                <td class="cell">Def</td>
                <td class="cell">Mid</td>
                <td class="cell">Forw</td>
                <td class="cell">Cap</td>
                <td class="cell">Inj</td>
                <td class="cell">Trn</td>
                <td class="cell">Year</td>
                <td class="cell">StrPl</td>
                <td class="cell">Power</td>
                <td class="cell">Tire</td>
                <td class="cell">TBT</td>
                <td class="cell">Price</td>
            </tr>
            <tbody>
            <tr ng-repeat="p in Players">
                <td class="cell">{{p.name}}</td>
                <td class="cell">{{p.club}}</td>
                <td class="cell">{{p.natio}}</td>
                <td class="cell">{{p.number}}</td>
                <td class="cell">{{p.position}}</td>
                <td class="cell">{{p.gkAble}}</td>
                <td class="cell">{{p.defAble}}</td>
                <td class="cell">{{p.midAble}}</td>
                <td class="cell">{{p.forwAble}}</td>
                <td class="cell">{{p.captainAble}}</td>
                <td class="cell">{{p.injury}}</td>
                <td class="cell">{{p.trainingAble}}</td>
                <td class="cell">{{p.birthYear}}</td>
                <td class="cell">{{p.strategyPlace}}</td>
                <td class="cell">{{p.power}}</td>
                <td class="cell">{{p.tire}}</td>
                <td class="cell">{{p.timeBeforeTreat}}</td>
                <td class="cell">{{p.price}}</td>
            </tr>
            </tbody>
    </table>
        <p></p>



    <script src="../index.js"></script>
    <script src="../main_menu/main_menu.js"></script>
    <script src="../registr/registr.js"></script>
    <script src="../players/players.js"></script>
    <script src="team_menu.js"></script>
</div>




</body>

</html>























<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<html ng-app="players>-->

<!--<head>-->
<!--	<meta charset=" UTF-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<title>Players</title>-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>-->
<!--<script src="players.js">getActualDate()</script>-->
<!--<link rel="stylesheet" href="players.css">-->

<!--</head>-->

<!--<body>-->
<!--<div class="container" ng-controller="playersController">-->
<!--    <h4 class="header">Players</h4>-->
<!--    <hr>-->
<!--    <p class="date_show">Today is {{today.day}} {{today.month}} {{today.year}}</p>-->
<!--    <p></p>-->

<!--    <table class="table table-hover">-->
<!--        <tr>-->
<!--            <td class="cell">#</td>-->
<!--            <td class="cell">Name</td>-->
<!--            <td class="cell">Club</td>-->
<!--            <td class="cell">Natio</td>-->
<!--            <td class="cell">Pos</td>-->
<!--            <td class="cell">Gk</td>-->
<!--            <td class="cell">Def</td>-->
<!--            <td class="cell">Mid</td>-->
<!--            <td class="cell">Forw</td>-->
<!--            <td class="cell">Cap</td>-->
<!--            <td class="cell">Inj</td>-->
<!--            <td class="cell">Trn</td>-->
<!--            <td class="cell">Year</td>-->
<!--            <td class="cell">Pos</td>-->
<!--            <td class="cell">Power</td>-->
<!--            <td class="cell">Tire</td>-->
<!--            <td class="cell">TBT</td>-->
<!--            <td class="cell">Price</td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr ng-repeat="p in Players">-->
<!--            <td class="cell">{{p.id}}</td>-->
<!--            <td class="cell">{{p.name}}</td>-->
<!--            <td class="cell">{{p.team.name}}</td>-->
<!--            <td class="cell">{{p.natio}}</td>-->
<!--            <td class="cell">{{p.position}}</td>-->
<!--            <td class="cell">{{p.gkAble}}</td>-->
<!--            <td class="cell">{{p.defAble}}</td>-->
<!--            <td class="cell">{{p.midAble}}</td>-->
<!--            <td class="cell">{{p.forwAble}}</td>-->
<!--            <td class="cell">{{p.captainAble}}</td>-->
<!--            <td class="cell">{{p.injury}}</td>-->
<!--            <td class="cell">{{p.trainingAble}}</td>-->
<!--            <td class="cell">{{p.birthYear}}</td>-->
<!--            <td class="cell">{{p.strtegyPlace}}</td>-->
<!--            <td class="cell">{{p.power}}</td>-->
<!--            <td class="cell">{{p.tire}}</td>-->
<!--            <td class="cell">{{p.timeBeforeTreat}}</td>-->
<!--            <td class="cell">{{p.price}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <p></p>-->

<!--    <br>-->
<!--    <p><a class="links" href="../team_menu/team_menu.html">Exit to Team</a> </p>-->


<!--    &lt;!&ndash; <div class="submenu">-->

<!--        <p><a class="links" href="">Players</a> </p>-->

<!--        <p></p>-->
<!--        <p><a class="links" href="">Strategy</a> </p>-->

<!--        <p></p>-->
<!--        <p><a class="links" href="">Select a Captain</a> </p>-->

<!--        <p></p>-->
<!--        <p><a class="links" href="">Create New Player</a> </p>-->

<!--        <p></p>-->
<!--        <p><a class="links" href="">Youth Academy</a> </p>-->

<!--        <p></p>-->
<!--        <p><a class="links" href="../main_menu/main_menu.html">Exit to Main Menu</a> </p>-->

<!--    </div> &ndash;&gt;-->


<!--    <script src="../index.js"></script>-->
<!--    <script src="../main_menu/main_menu.js"></script>-->
<!--    <script src="../registr/registr.js"></script>-->
<!--    <script src="../team_menu/team_menu.js"></script>-->
<!--    <script src="players.js"></script>-->
<!--</div>-->




<!--</body>-->

<!--</html>-->