<!DOCTYPE html>
<html lang="en">

<html ng-app="match">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Match</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
	<script src="match.js">getActualDate()</script>
	<link rel="stylesheet" href="match.css">

</head>

<body>
	<div class="container" ng-controller="matchController">
		<h4 class="header">Match</h4>
		<hr>
		<p class="date_show">Today is {{today.day}} {{today.month}} {{today.year}}</p>
		<p></p>

		<div class="submenu">

			<br>
			<p><a class="links" ng-click="imitate()">PLAY</a></p>
			<br>

			<p><a class="links" href="../../team_menu/placement/placement.html">Select Start Team</a> </p>

			<br>
			<p><a class="links" href="../../main_menu/main_menu.html">Exit to Main Menu</a> </p>
		</div>
		<table class="col-sm-6 table table-hover">
			<tr>
				<td class="cell">.</td>
				<td class="cell">.</td>
				<td class="cell">.</td>

			</tr>
			<tbody>
			<tr ng-repeat="m in matchInfo">
				<td class="cell"></td>
				<td class="cell">{{m.preMatchHomeInfo}}</td>
				<td class="cell">{{m.preMatchAwayInfo}}</td>
			</tr>
			</tbody>
		</table>
	</div>




</body>

</html>